@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

$font: 'Plus Jakarta Sans', sans-serif;

@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #fff;
    padding: 20px;
    @include flex();
    gap: 20px;
    position: fixed;
        width: 100%;
        z-index: 200;

    h1 {
        display: inline;
        font: $font 20px;

        #allText {
            color: #007EA7;
        }
        #blogText {
            color: #000;
        }
    }

    .navMenu {
        list-style: none;
        @include flex();
        gap: 20px;

        li {
            
            a {
                font-size: 16px;
                font-weight: bold;
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                color: rgba(92, 92, 92, 0.6);

                &:hover {
                    color: #000;
                }
            }
        }

        #login {
            cursor: pointer;
            padding:  15px;
            background-color: rgb(0, 168, 232);
            border: none;
            border-radius: 10px;
            // font-size: 16px;
            color: #fff;
            font-weight: bold;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #signup {
            cursor: pointer;
            padding:  15px;
            background-color: #000;
            border: none;
            border-radius: 10px;
            // font-size: 16px;
            color: #FCFBFF;
            font-weight: bold;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

}

.hamburger {
    cursor: pointer;
    display: none;
    z-index: 500;

    .bar {
        background-color: #120f0b;
        width: 20px;
        height: 3px;
        display: block;
        margin: 3px;
        transition: 0.3s ease-in-out;
    }
}


@media screen and (max-width: 800px) {
    .navbar {
        background-color: #fff;
        padding: 0px;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20px;

        h1 {
            padding-left: 10px;
            padding-top: 20px;
            #allText {
                color: #007EA7;
            }
        }

        .navMenu {
            position: fixed;
            left: -900px;
            top: 70px;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            -webkit-transition: 0.7s ease-in-out;
            transition: 0.7s ease-in-out;
            padding: 50px 0 500px 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            z-index: 100;

            &.active {
                left: 0px;
            }

            li {
                margin: 16px 0;
                text-align: center;
                width: 100%;
            }

            button {
                width: 80%;
            }
        }

        

        .hamburger {
            display: block;
            position: fixed;
            z-index: 1;
            right: 10px;
            padding-right: 10px;
            padding-top: 20px;

            .bar:nth-child(2) {
                opacity: 0;
            }

            &.active {
                .bar:nth-child(1) {
                    transform: translateY(6px) rotate(45deg);
                }
                
                .bar:nth-child(3) {
                    transform: translateY(-6px) rotate(-45deg);
                }
            }
        }
    }
}