
.home {
    background-color: #fff;

    header {
        h1 {
            display: none;
        }
        .hamburger {
            display: none;
            cursor: pointer;
      
            .bar {
                display: block;
                height: 3px;
                width: 20px;
                background-color: #fff;
                margin: 5px;
                transition: 0.5s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            background-color: #1D272C;
            .hamburger {
                display: block;
            }

            h1 {
                a {
                    color: #D3D9E3;
                }
                img {
                    height: 40px;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
            }
        }

        main {
            padding-top: 50px;
        }
    }
}