@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    padding: 20px;
    @include flex();

    h1 {
        // color: blue;
        font-size: 30px;

        span {
            color: #00171F;
        }
    }

    article {
        display: flex;
        justify-content: center;
        @include flex();
        gap: 20px;

        #fg1 {
            @include flex();
            gap: 20px;
            padding: 10px;
            cursor: pointer;
            height: 50px;

            span {
                background-color: rgb(209, 206, 206);
                @include flex();
                gap: 10px;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        

        #icon {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 600px) {
    .section {
        padding: 10px;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-size: 20px;
        }

        article {
            flex-direction: row-reverse;
        }
        
    }
}