@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Instrument+Serif&family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// font-family: 'Inter', sans-serif;
a {
  text-decoration: none;
}


h1, h2 {
  font-family: 'Instrument Serif', serif;
  font-weight: lighter;
}

//avoid zooming in in small screens when on focus
input, textarea {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

nav {
  ul {
    list-style: none;
    li {
      a, button {
        font-family: 'Atkinson Hyperlegible', sans-serif;
      }
    }
  }
}

a, span, p, h3, h5, h6 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

